---
import BaseLayout from '../layouts/base.astro'

const pageTitle = '与大野'
const skills = ['HTML', 'CSS', 'JavaScript', 'TypeScript', 'Vue', 'React', 'Astro', 'Solid', 'Node', 'Next', 'Nuxt']
const isHappy = true

const skillColor = 'blue'
---

<BaseLayout pageTitle={pageTitle}>
  <h4>大鹏一日同风起，扶摇直上九万里。</h4>
  <p>我是一名前端工程师，现在正在学习astro。</p>
  <p>
    我的技能有：
    <ul>
      {skills.map(skill => <li class="skill">{skill}</li>)}
    </ul>
  </p>
  <p>
    Today:
    {isHappy ? 'I am happy.' : 'I am sad.'}
  </p>
</BaseLayout>
