---
import BlogPost from '../components/BlogPost.astro'
import BaseLayout from '../layouts/base.astro'

const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }))
---

<BaseLayout pageTitle="博客">
  <h4>别有幽愁暗恨生，此时无声胜有声。</h4>
  <ul>
    {allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
  </ul>
</BaseLayout>
