---
import Social from './Social.astro'
---

<style>
  footer {
    display: flex;
    column-gap: 12px;
    margin-top: 20px;
  }
</style>

<footer>
  <!-- <p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p> -->
  <Social platform="twitter" username="astrodotbuild" />
  <Social platform="instagram" username="astroInstagram" />
  <Social platform="github" username="astro" />
</footer>
